/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 27px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 20%; /* Maintain width */
  padding: 7px; /* Maintain padding */
  border: 2px solid #ccc; /* Maintain border */
  border-radius: 30px; /* Maintain border radius */
  box-sizing: border-box; /* Maintain box-sizing */
  margin: 1px auto; /* Center and reduce margins */
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 1px auto;
}

input[type="submit"]:hover {
  background-color: #45A049;
}

/* Login link styling */
h4 {
  text-align: centert;
  margin: 20px 0;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
